$color_primary: #000000;
$color_secondary: #6996dc;
$color_tertiary: #0d6efd;
$font_family_primary: 'Manrope', sans-serif;
$text_font_size: 18px;

*{
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    color: $color_primary;
    font-family: $font_family_primary;
    font-size: $text_font_size;
}

h1{
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

a{
    color: $color_primary;
    transition: color 0.4s;
    text-decoration: none;
}

a:hover{
    color: $color_tertiary;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
}

.card-container{
    background: #fff;
    padding: 25px;
}

.shorten-url-form-wrapper{
    display: flex;
    justify-content: center;
}

.shorten-url-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
    align-items: center;
}

input:not([type="submit"]),
select{
    padding: .75rem;
    color: $color_primary;
    font-family: $font_family_primary;
    border: 1px solid $color_primary;
    font-size: 18px;
    outline: none;
    width: 100%;
}

footer{
    padding: 20px 0;
}

.footer-container{
    text-align: center;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

input[type="submit"]{
    padding: .75rem 1rem;
    background-color: $color_secondary;
    color: #FFF;
    font-size: $text_font_size;
    outline: none;
    border: none;
    transition: background-color 0.4s;
    font-family: $font_family_primary;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: $color_tertiary;
}

.shorten-url-form label{
    font-size: 30px;
    font-weight: 600;
}

.login-register-buttons{
    display: flex;
    gap: 20px;
}

.form-login-register input:not([type="submit"]){
    margin: 10px 0 20px 0;
    max-width: 400px;
    display: block;
}

header {
    .logo {
        width: 300px;
    }

    h1 {
        margin: 0;
    }
}

ul.nav-links {
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
    }


    a {
        font-size: 21px;
        margin-right: 20px;
    }
}

.container.header-container {
    display: flex;
    align-items: center;
    column-gap: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav{
    width: 100%;
}

#mobile-menu-toggler{
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

.form-validation-error{
    color: red;
}

.content-single-url{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shortened-link{
    display: flex;
    justify-content: center;
}

.copy-shortened-link{
    padding: .75rem 1rem;
    background-color: #6996dc;
    color: #fff;
    font-size: 18px;
    transition: background-color .4s;
    font-family: Manrope, sans-serif;
    cursor: pointer;
    display: inline-block;
}

.copy-shortened-link:not(.copied):hover{
    background-color: #0d6efd;
}

.copy-shortened-link.copied{
    cursor: default;
}

.shortened-link-inner{
    font-size: 18px;
    padding: 0.75rem;
    border: 1px solid $color_primary;
}

.accordion-title{
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.accordion-content{
    margin-top: .75rem;
    display: none;
}

.accordion{
    padding: .75rem;
    border: 1px solid $color_primary;
}

.accordion:not(:last-of-type){
    border-bottom: none;
}

.error-404{
    text-align: center;
}

@media (max-width: 767px){
    .footer-container{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
}

@media (max-width: 767px){
    header .logo{
        width: 150px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
        padding: 0 40px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

@media (max-width: 767px){
    nav{
        display: none;
    }
}

@media (max-width: 767px){
    .header-container{
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (min-width: 768px){
    #mobile-menu-toggler{
        display: none;
    }
}

@media (max-width: 767px){
    ul.nav-links{
        padding: 20px 0;
        display: flex;
        flex-direction: column;

        li{
            padding: 20px 0;
        }
    }
}

@media only screen and (max-width: 767px){
    .shortened-link{
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 767px){
    .original-link a,
    .shortened-link a{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
    }
}

@media (max-width: 767px){
    .login-register-buttons{
        flex-direction: column;
    }
}